@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --blue: rgb(66, 174, 247);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.nav-symbol {
    height: 36px;
    width: 36px;
    border-radius: 3px;
    padding: 6px;
}

.nav-symbol:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.nav-symbol:hover ~ .tooltip {
    opacity: 1;
    transition: opacity 0s 0.2s;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 45px;
    opacity: 0;
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 0.8rem;
    white-space: nowrap;
    color: rgb(71, 71, 71);
    text-transform: none;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
   
    letter-spacing: -2px;
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    cursor: pointer;
    white-space: nowrap;
}

header {
    background: rgb(4,168,94);
    background: linear-gradient(90deg, rgb(93, 248, 178) 32%, rgb(134, 245, 151) 72%);
    text-align: center;
    position: fixed;
    z-index: 999;
    width:100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px rgb(116, 113, 113) solid;
}

nav ul {
    list-style: none;
}

nav li {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    position: relative;
    height: 36px;
    width: 36px;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0.25s;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display:none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 0.5rem;
    }

    nav a {
        opacity: 1;
    }

    nav li {
        margin: 0;
        padding: 0;
    }

    .tooltip {
        top: 45px;
        left: 0;
    }
}