@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
	--blue: #1e279e;
	--lightGreyText: #d4d0ca;
	--greyText: rgb(161, 159, 159);
	--borderGrey: #2e3335;
	--darkContent: #181a1b;
	--darkNav: #1b1d1e;
    --darkerNav: #07193a;
	--tooltip: #333638;
	--tooltip-light: #959799;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background-color: #181a1b;
	position: relative;
}

.content-symbol {
	height: 24px;
	width: 24px;
	border-radius: 3px;
}

.content-symbol:hover~.tooltip-content {
	opacity: 1;
	transition: opacity 0s 0.2s;
}

.content-symbol:hover {
	outline: rgba(255, 255, 255, 0.103) 1px solid;
}

.content-symbol-oneRem {
	height: 16px;
	width: 16px;
}

.nav-symbol {
	height: 24px;
	width: 24px;
	border-radius: 3px;
	
}

.nav-symbol:hover {
	background-color: rgba(255, 255, 255, 0.103);
}

.nav-symbol:hover~.tooltip {
	opacity: 1;
	transition: opacity 0s 0.2s;
}

.tooltip {
	position: absolute;
	top: 45px;
	left: 0;
	background-color: var(--tooltip);
	padding: 0.5rem;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space: nowrap;
	color: var(--lightGreyText);
	text-transform: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	opacity: 0;
	cursor: default;
	z-index: 200;
}

.tooltip-content {
	position: absolute;
	top: 30px;
	right: 0;
	background-color: var(--tooltip);
	padding: 0.5rem;
	border-radius: 3px;
	font-size: 0.8rem;
	white-space: nowrap;
	color: var(--lightGreyText);
	text-transform: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	opacity: 0;
	cursor: default;
	z-index: 200;
}

/* navbar */

.logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: -2px;
	color: rgb(255, 255, 255);
	font-size: 2.2rem;
	cursor: pointer;
	white-space: nowrap;
}

header {
	background-color: var(--blue);
	text-align: center;
	position: fixed;
	z-index: 300;
	width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	height: 100%;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background-color: var(--darkerNav);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 0.2s ease-in-out;
	display: flex;
    gap:1rem;
	z-index: 200;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav ul {
	list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
	display: flex;
	flex-direction: column;
}

nav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
	position: relative;
	height: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle:checked~nav {
	transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
	opacity: 1;
	transition: opacity 0.15s ease-in-out 0.25s;
}

.nav-toggle:checked~nav label {
	opacity: 1;
	transition: opacity 0.15s ease-in-out 0.25s;
}

.nav-toggle:checked ~ label .nav-symbol{
    background-color: rgba(255, 255, 255, 0.233);
}

/* side nav bar */

#project-list-toggle:checked~.project-list-container {
	left: 0;
}

#project-list-toggle:checked~.project-list-container li {
	opacity: 1;
	transition: opacity 0.15s ease-in-out 0.25s;
}

.project-list {
	position: relative;
}

.project-list-container {
	width: 250px;
	left: -500px;
	top: 100%;
	position: absolute;
	height: 100vh;
	z-index: 100;
	background-color: var(--darkNav);
    transition: left 0.2s ease-in-out;
	color: var(--greyText);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: flex-start;
}

.project-list-container li {
	opacity: 1;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 0.2rem;
    height: 36.4px;
    margin-left: 1rem;

}

.project-list-container li:hover {
    outline: var(--borderGrey) 1px solid;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #988f81;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.todo-num {
    display: block;
}

.project-list-container li img {
    display: none;
}

.project-list-container li p {
    font-size: 0.9rem;
}

.project-toggle-label {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 1rem;
	position: relative;
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
}

/* popup */

#popup-container {
	padding: 1rem 0 1rem 0;
	position: absolute;
	z-index: 300;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
	scale(0);
	background-color: var(--darkContent);
	border-radius: 8px;
	min-width: 550px;
	min-width: 375px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 50px 0px;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#popup-container.open {
    animation: open 0.5s forwards;
}

#popup-container.close {
    animation: close 0.5s forwards;
}

@keyframes close {
	0% {
        transform: translate(-50%,-50%) scale(1);
        z-index: 100;
    }
    100% {
        transform: translate(-50%,-50%) scale(0);
        z-index: 100;
    }
}

@keyframes open {
    0% {
        transform: translate(-50%,-50%) scale(0);
        z-index: 100;
    }
    
    100% {
        transform: translate(-50%,-50%) scale(1);
        z-index: 100;
    }
}


#popup-container textarea {
	background-color: var(--darkContent);
	border: none;
	resize: none;
	padding: 0 1rem;
	width: 100%;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

#todo-create-title {
	color: white;
	font-size: 1rem;
	height: 20px;
}

#todo-create-description {
	color: white;
	font-size: 0.85rem;
	height: 17px;
	line-height: 1.4;
	word-spacing: 1px;
}

#text-container-form {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	gap: 0.5rem;
	min-height: 50px;
}

.button-container-form {
	padding: 1rem 1rem 0rem 1rem;
	border-top: var(--borderGrey) 1px solid;
	display: flex;
	gap: 0.5rem;
}

.button-form {
	padding: 0.3rem 0.7rem;
	border: none;
	border-radius: 6px;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

.button-form-small {
	padding: 0.3rem 0.6rem;
	border: var(--borderGrey) 1px solid;
	border-radius: 6px;
	background-color: inherit;
	color: var(--greyText);
	font-size: 0.8rem;
}

.settings-container-form {
	display: flex;
	gap: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.button-form-small:hover {
	background-color: rgba(255, 255, 255, 0.021) !important;
}

.button-form:hover {
	background-color: rgba(255, 255, 255, 0.021) !important;
}

#create-button:hover {
	background-color: var(--blue) !important;
}

#create-button {
	background-color: var(--blue);
}

#cancel-button {
	background-color: inherit;
	border:var(--borderGrey) 1px solid;
}

#popup-container textarea:focus {
	outline: none;
}

#popup-container.close {
	animation: close 0.5s forwards ease-in-out;
}

#popup-container.open {
	animation: open 0.5s forwards ease-in-out;
}

@keyframes close {
    0% {
        transform: translate(-50%,-50%) scale(1);
    }
    100% {
        transform: translate(-50%,-50%) scale(0);
    }
}

@keyframes open {
    0% {
        transform: translate(-50%,-50%) scale(0);
    }
    
    100% {
        transform: translate(-50%,-50%) scale(1);
    }
}

/* content */

#dark-overlay {
	position: absolute;
    width: 100%;
	height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.719);
    transition: opacity 0.15s ease-in-out;
    z-index: -1;
}

.dark {
    display: block !important;
    opacity: 1 !important;
    transition: opacity 0.15s ease-in-out;
    z-index: 1 !important;
}

.project-container {
	display: flex;
	width: 100%;
	grid-column: 3 / 4;
	align-items: center;
	flex-direction: column;
	margin-top: 7rem;
	gap:2rem;
}


.project-header {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
	color: var(--lightGreyText);
	justify-content: space-between;
	align-items: center;
}

.project-header h1 {
	font-size: 1.5rem;
}

.relative-container {
	position: relative;
	display: flex;
}

.todo-list-item {
	border-bottom: var(--borderGrey) 1px solid;
	padding: 1rem;
	display: flex;
	gap: 1rem;
}

.todo-list {
	list-style: none;
	width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.todo-title {
	font-weight: 400;
	font-size: 1rem;
	color: #d4d0ca;
	overflow-wrap: break-word;
	word-break: break-word;
}

.todo-text {
	font-size: 0.85rem;
	font-weight: 300;
	color: rgb(146, 145, 145);
	line-height: 1.4;
	word-spacing: 1px;
	overflow-wrap: break-word;
	word-break: break-word;
	
}

.todo-date {
	font-size: 0.85rem;
	font-weight: 300;
	color: #228be6;
	line-height: 1.4;
	word-spacing: 1px;
	overflow-wrap: break-word;
	word-break: break-word;
}

.todo-date-container {
	display: flex;
	height: 16px;
	align-items: center;
	cursor:pointer;
	width: fit-content;
	gap: 0.3rem;
	margin-top: 1rem;
}

.todo-text-container {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.todo-button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: var(--borderGrey) 1px solid;
	background-color: var(--darkContent);
	font-size: 0.6rem;
	color: var(--borderGrey);
}

.todo-button:hover {
	background-color: var(--greyText);
	transition: background-color 0.2s ease-in-out;
}

#grid-body {
	display: grid;
	grid-template-columns:auto 1fr minmax(375px, 3fr) 1fr;
	justify-content: center;
}

.project-list-container-grid {
    display: none;
    background-color: var(--darkNav);
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}
	header {
		display: grid;
		grid-template-columns: 1fr auto  1fr;
	}
	.logo {
		grid-column: 2 / 3;
	}
	nav {
		all: unset;
		display: flex;
		justify-content: flex-start;
		align-items: center;
        gap: 1rem;
        grid-column: 1 / 2;
        margin-left: 1rem;
	}
	nav::after {
		all: unset;
		display: none;
	}
	nav ul {
		display: flex;
        height: 30px;
        gap: 0.2rem;
	}
	nav a {
		opacity: 1;
	}
	nav li {
		margin: 0;
		padding: 0;
	}
	.project-toggle-label {
		opacity: 1;
	}
	
	.container {
		display: flex;
		width: 100%;
		padding-top: 6rem;
		padding-bottom: 5rem;
		align-items: center;
		flex-direction: column;
	}
	.project-list-container {
		display: none;
        grid-column: unset;
	}
	.project-list-container li {
		text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
	}
	
	.project-toggle-label {
		margin: 0;
		width: 36px;
	}
	.project-list {
		position: static;
		width: 36px;
	}

    .dark {
        all: unset;
        opacity: 0 !important;
        z-index: -1 !important;
    }

    .project-list-container-grid {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        color: var(--greyText);
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        justify-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        width: 0;
        visibility: hidden;
		min-height: 100vh;
    }


    .project-list-container-grid li {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 10fr 1fr;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        margin-left: 1rem;
        padding: 0.2rem;
        height: 36.4px;
        font-size: 0.9rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        width: 234px;
    }

    .project-list-container-grid li img{
        display: none;
    }

    .project-list-container-grid li:hover {
        outline: var(--borderGrey) 1px solid;
    }

    #popup-container {
		min-width: 550px;
	}
}

